doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Quiz

    style
      include ../css/quiz.css
      include ../vendor/bootstrap/css/bootstrap.min.css

    script
      include ../js/quiz.js

    link(href='/vendor/bootstrap/css/test.css', rel='stylesheet')
    //link(href='simple-sidebar.css', rel='stylesheet', type='text/css')
    // Bootstrap core CSS
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet')
  body
    h1(id= 'qtitle')= question.question
    div(id='answers')
      div(id="first")
        div(class="row")
          div(class="cell" id="a")=question.a
          div(class="cell" id="b")=question.b
      div(id="second")
        div(class="row")
          div(class="cell" id="c")=question.c
          div(class="cell" id="d")=question.d
    -var num = parseInt(index, 10) + 1;
    -var secNum = parseInt(index, 10) - 1;
    div(id='buttons')
      //a(href="/questions/" + secNum)
        button(id='but_prev' type='button') Previous
      a(href="/questions/result")
        button(id='but_next' type='button') Evaluate

