doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Quiz
  body
    #wrapper
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
          li
            a(href='#') INTERESTS
          li
            a(href='#') SOCIAL
          li
            a(href='#') LIFE
          li
            a(href='#') USE
      #page-content-wrapper
        #question
          ul.list-group.align-content-center
          li.list-group-item= question.question
          ul.list-group
            li.list-group-item-warning= question.a
            li.list-group-item-success= question.b
            li.list-group-item-primary=question.c
            li.list-group-item-danger=question.d
                







link(href='/cssSidebar/simple-sidebar.css', rel='stylesheet')
link(rel='stylesheet', href='/css/bootstrap.min.css')
script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet')
